.field {
  position: relative;
  width: 100%;
  &__input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #033E6B;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
    }
  }
}